body {font-family: "Helvetica"; Arial; Sans-serif;
      font-size: 14px;
      text-align:center;
      }

.btn {text-decoration: underline;
      color: white;
      }

.navbar {font-size: 18px;
        background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
        background-repeat: no-repeat;
        color: white;}

#team {background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
            color: White;
            font-size:23px;
            font-weight:bold;}

/* h1 is set to font-size: 60px, because at 70 px, the menu button "contact" fell out of background-image */
h1 {font-size: 60px;
    font-weight: bold;
    color: white;}

 a {text-decoration: none;
    color: white;}

span {font-size: 11px;
      color:white;}

#footer {background-color: dimgray;
          text-align: left;
          font-weight:bold;}
